
		@font-face{
			font-family: 'hello';
			src: url('assets/fonts/Kannada.ttc');
		}
		body{
			background: url('assets/images/backtile.png') bottom right repeat;
			margin: 0px;
			padding: 0px;

		}
		
		header{
				text-align: center;
				color: white;
				background: url('assets/images/header2.jpg') center / cover;	
				margin-top: 0px;
				padding-top: 0px; 
		}
		.mdl-layout--small-screen-only{
				background: url('assets/images/header2.jpg') center / cover;
		}
		.mdl-layout-title, .mobile-header > h1{
			font-family: 'hello';
			color: rgba(1,1,1,.87);
		}
		.demo-layout-transparent {
			background: url('assets/images/backtile.png') center no-repeat cover;
		}
		.demo-layout-transparent .mdl-layout__header,
		.demo-layout-transparent .mdl-layout__drawer-button {
		  /* This background is dark, so we set text to white. Use 87% black instead if
		     your background is light. */
		  color: rgba(1,1,1,.87);
		}
		.mdl-navigation > a{
			color: rgba(1,1,1,.87);
			text-decoration: none;
		}
		.mdl-grid{
			width: 80%;
		}
		.demo-card-square.mdl-card {
		  width: 100%;
		  height: 320px;
		}
		.demo-card-square > .mdl-card__title {
		  color: #fff
		}
		#engg > .mdl-card > .mdl-card__title{
			background:
		    url('assets/images/engineer.jpg') center / cover #46B6AC;
		}
		#arts > .mdl-card > .mdl-card__title{
			background:
		    url('assets/images/arts.jpg') center / cover #46B6AC;
		}
		#sports > .mdl-card > .mdl-card__title{
			background:
		    url('assets/images/sports.jpg') center / cover #46B6AC;
		}
		#science > .mdl-card > .mdl-card__title{
			background:
		    url('assets/images/science.jpg') center / cover #46B6AC;
		}
		#commerce > .mdl-card > .mdl-card__title{
			background:
		    url('assets/images/commerce.png') center / cover #46B6AC;
		}